@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

:root {
  --tw-bg-opacity: 1;
  color: white;

}

html {
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}

@media (max-width: 500px) {
  html,
  body {
    overflow-x: hidden;
  }

  .intro {
    align-items: center;
  }

  .introText {
    width: 85%;
    font-size: 50px;
  }

  .introSubText {
    width: 75%;
  }

  .projectOne {
    width: 75%;
    
  }

  .projectTwo {
    width: 75%;
  }

  .projectThree {
    width: 75%;
  }

  .projectContainer {
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
  }

  .aboutMeText {
    width: 75%;
  }

  .skills {
    flex-wrap: wrap;
    flex: 1 0 25%;
  }

  .overlayOne {
    display: none;
  }

  .overlayTwo {
    display: none;
  }

  .overlayThree {
    display: none;
  }

  .projectTitle {
   margin-left: 126px !important;
   height: 50px;
  }

  .projectTitle2 {
    margin-left: 126px !important;
    margin-top: 20px;
   height: 50px;
  }

  .projectTitle3 {
    margin-left: 126px !important;
    margin-top: 20px;
   height: 50px;
  }

  .mobileTitle1 {
    margin-bottom: -20px;
  }

  .mobileTitle2 {
    margin-bottom: -20px;
  }

  .mobileTitle3 {
    margin-bottom: -20px;
  }

  .projWrapper {
    flex-direction: column;
  }

  .descriptionOne {
    width: 90%;
    margin-left: -124px;
    margin-top: 40px;
  }

  .descriptionTwo {
    width: 90%;
    margin-left: -110px;
    margin-top: 40px;
  }

  .descriptionThree {
    width: 90%;
    margin-left: -114px;
    margin-top: 40px;
  }
}

.skills {
  flex-basis: 30%;
}

.overlayOne {
  opacity: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlayOne:hover {
  opacity: 1;
}

.projectTitle {
  
}

.projectTitle2 {
  
}

.projectTitle3 {
  
}

.mobileTitle1 {
  display: none;
}

.mobileTitle2 {
  display: none;
}

.mobileTitle3 {
  display: none;
}

.tooltip {
  visibility: hidden;
  position: absolute;
}

.proj1tt:hover .tooltip {
  visibility: visible; 
  z-index: 50;
}

.animeDB {
  left: 125px;
  top: 28px;
}

.eCommerce {
  top: 28px;
  left: 759px;
}

.nftTracker {
  top: 28px;
  left: 1394px;
}

