@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

:root {
  --tw-bg-opacity: 1;
  color: white;
}

html {
  background: linear-gradient(
    0deg,
    rgba(17, 24, 36, 1) 0%,
    rgba(13, 29, 62, 1) 100%
  );
}

@media (max-width: 500px) {
  html,
  body {
    overflow-x: hidden;
  }

  .intro {
    align-items: center;
  }

  .introText {
    width: 85%;
    font-size: 50px;
  }

  .introSubText {
    width: 75%;
  }

  .projectOne {
    width: 75%;
  }

  .projectTwo {
    width: 75%;
  }

  .projectThree {
    width: 75%;
  }

  .projectContainer {
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
  }

  .aboutMeText {
    width: 75%;
  }

  .skills {
    flex-wrap: wrap;
    flex: 1 0 25%;
  }

  .overlayOne {
    display: none;
  }

  .overlayTwo {
    display: none;
  }

  .overlayThree {
    display: none;
  }

  .projectTitle {
    
    height: 50px;
  }

  .projectTitle2 {
    
    margin-top: 80px;
    height: 50px;
  }

  .projectTitle3 {
    
    margin-top: 80px;
    height: 50px;
  }

  .projectTitle4 {
    
    margin-top: 80px;
    height: 50px;
  }

  .mobileTitle1 {
    margin-bottom: -20px;
  }

  .mobileTitle2 {
    margin-bottom: -20px;
  }

  .mobileTitle3 {
    margin-bottom: -20px;
  }

  .projWrapper {
    flex-direction: column;
    align-items: center;
  }

  .descriptionOne {
    width: 90%;
    
    margin-top: 40px;
  }

  .descriptionTwo {
    width: 90%;
    
    margin-top: 40px;
  }

  .descriptionThree {
    width: 90%;
    
    margin-top: 40px;
  }

  .projectOverlay {
    width: 75% !important;
    height: 67.7% !important;
    left: 57px !important;
    
  }

  .descriptionFour {
    align-self: center;
    margin-top: 22px;
  }

  .descriptionOne {
    align-self: center;
    margin-top: 22px;
  }

  .descriptionTwo {
    align-self: center;
    margin-top: 22px;
  }

  .descriptionThree {
    align-self: center;
    margin-top: 22px;
  }
}

.skills {
  flex-basis: 30%;
}

.overlayOne {
  opacity: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.3);
  width: 456px;
}

.overlayOne:hover {
  opacity: 1;
  transition: 0.3s;
}

.mobileTitle1 {
  display: none;
}

.mobileTitle2 {
  display: none;
}

.mobileTitle3 {
  display: none;
}

.tooltip {
  visibility: hidden;
  position: absolute;
}

.proj1tt:hover .tooltip {
  visibility: visible;
  z-index: 50;
}

.aboutProj:hover .tooltip {
  visibility: visible;
  z-index: 50;
}

.aboutProj {
  width: 100%;
  background:rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.animeDB {
  left: 10px;
  top: 28px;
}

.animeDBOverlay {
  top: 28px;
  left: 200px;
  z-index: 10;
}

.eCommerce {
  top: 28px;
  left: 486px;
}

.nftTracker {
  top: 28px;
  right: 486px;
}

.roomHomepage {
  top: 28px;
  right: 10px;
}

.projectOneWrapper {
  width: 456px !important;
}

.projectOneWrapper:hover > .projectOverlay {
  opacity: 1;
  transition: opacity 0.3s;
}

.projectTwoWrapper:hover > .projectOverlay {
  opacity: 1;
  transition: opacity 0.3s;
}

.projectThreeWrapper:hover > .projectOverlay {
  opacity: 1;
  transition: opacity 0.3s;
}

.projectFourWrapper:hover > .projectOverlay {
  opacity: 1;
  transition: opacity 0.3s;
}

.projectTwoWrapper {
  width: 456px;
}

.projectThreeWrapper {
  width: 456px;
}

.projectFourWrapper {
  width: 456px;
}

.projectOverlay {
  left: 0;
  bottom: 40px;
  width: 100%;
  height: 78%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  opacity: 0;
  align-self: center;
}

.projectOneImage {
  width: 456px;
}

.aboutProj:hover > .descriptionOne{
  height: 30%;
}

.aboutProj:hover > .descriptionTwo{
  height: 30%;
}

.aboutProj:hover > .descriptionThree{
  height: 30%;
}

.aboutProj:hover > .descriptionFour{
  height: 30%;
}

.descriptionOne {
  transition: height 0.4s linear;
  height: 0%;
  margin-top: 3rem;
}

.descriptionTwo {
  transition: height 0.4s linear;
  height: 0%;
  margin-top: 3rem;
}

.descriptionThree {
  transition: height 0.4s linear;
  height: 0%;
  margin-top: 3rem;
}

.descriptionFour {
  transition: height 0.4s linear;
  height: 0%;
  margin-top: 3rem;
}



